{{ $data := .Site.Data.preise_glaeser }}
<div class="preisliste-wrapper">
<table class="preistabelle">
<thead>
<tr>
<th scope="col" class="preistabelle__ecke">Glastyp</th>
{{ range $data.preisgruppen }}
<th scope="col">{{ .label }}</th>
{{ end }}
</tr>
</thead>
<tbody>
{{ range $glastyp := $data.glastypen }}
<tr>
<th scope="row" data-label="Glastyp">{{ $glastyp.label }}</th>
{{ range $gruppe := $data.preisgruppen }}
{{ $treffer := where $data.glaeser "glastyp" $glastyp.id }}
{{ $treffer = where $treffer "preisgruppe" $gruppe.id }}
<td data-label="{{ $gruppe.label }}">
{{ range $treffer }}
<div class="glas-eintrag">
<span class="glas-name">{{ .name }}</span>
<span class="glas-preis">{{ .preis }} €</span>
</div>
{{ else }}
<span class="glas-eintrag glas-eintrag--leer">–</span>
{{ end }}
</td>
{{ end }}
</tr>
{{ end }}
</tbody>
</table>
</div>
 
